* {
  margin: 0;
  padding: 0;
}

h1 {
  background-image: linear-gradient(to right, maroon, lightgrey);

  width: 1fr;
  color: white;
  font-family: "Exo", sans-serif;
  font-size: 70px;
  text-shadow: 4px 4px 4px black;
  font-weight: 10;
  padding: 20px;
  padding-left: 100px;
}

div {
  font-size: 20px;
}

h2 {
  width: 800px;
  font-family: "Nanum Gothic";
  font-size: 50px;
  padding: 20px;
  padding-left: 100px;
}

p {
  margin-left: 100px;
  width: 500px;
  padding: 10px;
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  border-style: dotted;
}

.quote {
  font-family: "Abril Fatface", cursive;
  padding-top: 5px;
  display: block;
  width: 500px;
  text-align: right;
}

/* .movies {
  background-color: lightpink;
}
.music {
  background-color: lightblue;
} */

p:nth-child(odd) {
  background-image: linear-gradient(to right, lightblue, lightpink);
}

p:nth-child(even) {
  background-image: linear-gradient(to right, lightpink, lightblue);
}
